<div class="container mt-2">

  <ng-container *ngIf="customers && !errorMsg; else failureorloading">
  <div class="card">
    <div class="card-header">Customers</div>
    <div class="card-body">
      <div *ngIf="searchFormGroup" class="row col-lg-4">
        <form [formGroup]="searchFormGroup">
          <div class="input-group">
            <label class="input-group-text"><i class="bi bi-search"></i></label>
            <input type="text" formControlName="keyword"  class="form-control" placeholder="Rechercher Client">
          </div>
        </form>
      </div>

      <div class="input-group">
        <select name="pages" class="form-select offset-10 mt-2"  [(ngModel)]="pageSize" (change)="handleChangePageSize(pageSize.toString())">
          <option value="" disabled selected>Select your page size</option>
          <option value=5>5</option>
          <option value=10>10</option>
          <option value=15>15</option>
          <option value=20>20</option>
        </select>
      </div>

      <table class="table">
        <thead>
        <tr>
          <th>ID</th><th>Name</th><th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let c of customersByPage">
          <td>{{c.id}}</td>
          <td>{{c.name}}</td>
          <td>{{c.email}}</td>
          <td>
            <button (click)="handleDeleteCustomer(c)" class="btn btn-danger">
              <i class="bi bi-trash"></i>
            </button>
          </td>
          <td>
            <button (click)="handleEditCustomerFormGroup(c)" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
              <i class="bi bi-pen"></i>
            </button>
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Edit Customer</h5>
                  </div>
                  <div class="modal-body">
                    <form [formGroup]="editCustomerFormGroup">
                      <div class="mb-3">
                        <label class="form-label">Name:</label>
                        <input type="text" formControlName="name" class="form-control">
                        <span class="text-danger"
                              *ngIf="editCustomerFormGroup.controls['name'].touched && editCustomerFormGroup.controls['name'].errors && editCustomerFormGroup.controls['name'].errors!['required']">
                             Name is required
                        </span>
                        <span class="text-danger"
                              *ngIf="editCustomerFormGroup.controls['name'].touched && editCustomerFormGroup.controls['name'].errors && editCustomerFormGroup.controls['name'].errors!['minlength']">
                             Name should contains at least 4 characters
                        </span>
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Email:</label>
                        <input type="text" formControlName="email" class="form-control">
                        <span class="text-danger"
                              *ngIf="editCustomerFormGroup.controls['email'].touched && editCustomerFormGroup.controls['email'].errors && (editCustomerFormGroup.controls['email'].errors!['required'] || editCustomerFormGroup.controls['email'].errors!['email'])">
                             Invalid email
                        </span>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button [disabled]='!editCustomerFormGroup.valid' type="button" class="btn btn-primary" (click)="handleEditCustomer()">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
          <td>
            <button (click)="handleGetCustomerAccounts(c.id)" type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter2">
              Accounts
            </button>
            <div class="modal modal-xl fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle2">List of accounts</h5>
                  </div>
                  <div class="modal-body">
                    <table class="table">
                      <thead>
                      <tr>
                        <th>Id</th><th>CreatedDt</th><th>Type</th><th>Balance</th><th>Over Draft</th><th>Interest Rate</th>
                      </tr>
                      </thead>
                      <tbody *ngIf="customerAccounts">
                      <tr *ngFor="let a of customerAccounts">
                        <td><a class="link-offset-2 link-underline link-underline-opacity-0" routerLink="/admin/accounts">{{a.id}}</a></td>
                        <td>{{a.createdAt | date : 'dd-MM-yyyy'}}</td>
                        <td>{{a.type}}</td>
                        <td>{{a.balance | number : '1.2-2'}}</td>
                        <td>{{a.overDraft ? a.overDraft : "NaN"}}</td>
                        <td>{{a.interestRate ? a.interestRate : "NaN"}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li [ngClass]="currentPages.includes(0)? 'page-item disabled' : 'page-item'">
          <a class="page-link btn" (click)="goToPreviousPageList(currentPages[0])" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>

          </a>
        </li>
        <li *ngFor="let page of currentPages" [ngClass]="page==currentPage?'page-item active':'page-item'">
          <a class="page-link btn"  (click)="goToPage(page)">{{page}}</a>
        </li>
        <li [ngClass]="currentPages.includes(totalPages-1)? 'page-item disabled' : 'page-item'">
          <a class="page-link btn" (click)="goToNextPageList(currentPages[currentPages.length-1]+1)" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>

          </a>
        </li>
      </ul>
      </nav>
    </div>
  </div>
  </ng-container>
  <ng-template #failureorloading>
    <ng-container *ngIf="errorMsg; else loading">
      <div *ngIf="errorMsg" class="text-danger">
        {{errorMsg}}
      </div>
    </ng-container>
    <ng-template #loading>
      <div class="spinner-border text-info" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </ng-template>
  </ng-template>
</div>

